/** @format */

body {
	margin: 0;
	line-height: normal;
}

.component-72 {
	width: 100%;
	height: 90px;
	position: relative;
	background-color: #0d0000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 10px;
	box-sizing: border-box;
	isolation: isolate;
	text-align: left;
	font-size: 36px;
	color: #fff;
	font-family: Arimo;
}
.logo-parent {
	width: 100%;
	margin: 0 !important;
	position: absolute;
	top: calc(50% - 35px);
	right: 0%;
	left: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	box-sizing: border-box;
	gap: 188px;
	opacity: 0.92;
	z-index: 0;
	flex-shrink: 0;
}
.logo {
	height: 40px;
	width: 193px;
	position: relative;
	cursor: pointer;
}
.ha {
	position: absolute;
	top: 10.38%;
	left: 0%;
	letter-spacing: -0.9px;
	line-height: 40px;
	flex-shrink: 0;
}
.rlem {
	position: absolute;
	top: 10.38%;
	left: 49.22%;
	letter-spacing: -0.9px;
	line-height: 40px;
	flex-shrink: 0;
}
.logo-child {
	position: absolute;
	height: 100%;
	width: 23.32%;
	top: 0%;
	right: 50.78%;
	bottom: 0%;
	left: 25.91%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	flex-shrink: 0;
}
.component-74-parent {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 101px;
	font-size: 18px;
	color: #fcf7f7;
	font-family: Inter;
}
.component-74 {
	border-bottom: 2px solid #f7d117;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	color: #f7d117;
}
.label {
	position: relative;
}
.component-75 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
}
.label3 {
	position: relative;
	cursor: pointer;
}
.component-68-parent {
	height: 50px;
	display: flex;
	align-items: center;
	gap: 30px;
}
.component-68 {
	height: 30px;
	width: 30px;
	position: relative;
}
.component-9 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
}
.vector-icon {
	position: absolute;
	height: 71%;
	width: 83.33%;
	top: 14.58%;
	right: 8.33%;
	bottom: 14.42%;
	left: 8.33%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.vector-icon2 {
	position: absolute;
	height: 16.67%;
	width: 16.67%;
	top: 70.83%;
	right: 12.5%;
	bottom: 12.5%;
	left: 70.83%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.vector-icon3 {
	position: absolute;
	height: 66.67%;
	width: 66.67%;
	top: 12.5%;
	right: 20.83%;
	bottom: 20.83%;
	left: 12.5%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.vector-icon4 {
	position: absolute;
	height: 29.33%;
	width: 29.33%;
	top: 31.25%;
	right: 35.25%;
	bottom: 39.42%;
	left: 35.42%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.vector-icon5 {
	position: absolute;
	height: 83.33%;
	width: 75%;
	top: 8.33%;
	right: 12.5%;
	bottom: 8.33%;
	left: 12.5%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
